@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700;800&family=Lato:wght@400;700&family=Merriweather&family=Montserrat:wght@400;700;800&family=Open+Sans:wght@400;700;800&family=Pacifico&family=Rubik+Mono+One&family=Sacramento&family=Space+Mono:wght@400;700&family=Work+Sans:wght@400;500;600;700;800&display=swap");
* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0%;
}
header {
  background: white;
  padding: 100px 150px;
  /* border: 2px seagreen solid; */
}

.nav-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 4.5rem;
  height: 2.5rem;
}
nav > ul {
  display: flex;
  gap: 30px;
  align-items: center;
}
.right-header {
  gap: 1rem;
  padding: 1.5rem;
  /* border: 2px seagreen solid; */
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  background: rgba(11, 2, 35, 0.1);
}
.right-header img {
  width: 1.2rem;
  height: 1.2rem;
}
.left-header {
  gap: 1rem;
  padding: 1.5rem;
  /* border: 2px seagreen solid; */
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  /* background: rgba(11, 2, 35, 0.1); */
}
#one {
  color: #0b0223;

  font-size: 2.8125rem;

  font-weight: 700;
}
span {
  color: #ff42a5;
}
.ul-cls {
  text-align: center;

  font-size: 1.125rem;

  font-weight: 500;
}

/*  */
.green-dot {
  text-align: center;
  color: #f948b2 0%;
  font-size: 5.5rem;

  font-weight: 800;
}

.green-dot::after {
  color: #f948b2;
  content: "."; /* Add the dot as a pseudo-element */
  text-align: center;

  font-size: 5.5rem;

  font-weight: 800;
}

#two {
  /* border: 1px solid darkblue; */
  color: #0b0223;
  /* text-align: center; */

  font-size: 3rem;

  font-weight: 600;

  text-transform: uppercase;
}

.ul-cls2 {
  color: #534c64;
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: lowercase;
}

.btn-primary {
  border: none;
  border-radius: 3rem;
  background-color: #ff42a5;
  /* background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%)); */
  padding: 1rem 2rem;
  /* align-items: flex-start; */

  color: #fff;

  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 10px;
}
.blue-color {
  border-radius: 3rem;
  background: #4ec5f7;
}
.second-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-evenly;
}
img {
  width: 100%;
}
.sec-lf {
  background-image: url("../images/Group\ 14.png");
  background-repeat: no-repeat;

  margin-bottom: 100px;
  width: 100%;

  text-align: center;
  padding: 100px 0;
}
.sec-rt {
  width: 50%;
  align-items: center;
  padding: 100px;
}
.funny-span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Work Sans;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.third-headertext {
  color: #0b0223;
  text-align: center;
  font-family: Work Sans;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.third-container {
  display: grid;
  margin: 100px;
  border: 1px solid saddlebrown;
  align-items: center;
}
.card {
  width: 21.375rem;
  height: 25rem;
  flex-shrink: 0;
}
.cap-cls {
  color: #534c64;
  font-family: Work Sans;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.875rem; /* 150% */
}
.card-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  border: 1px solid darkblue;
  padding: 100px;
  /* padding: 100px;
  margin: 0 auto; */
  text-align: left;
}
.feature-title {
  text-align: right;
  font-family: Work Sans;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.75rem; /* 125% */
}
.feature-text {
  color: #534c64;
  text-align: right;
  font-family: Work Sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem; /* 166.667% */
}
.fifth-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 100px;
}
.feature-img {
  width: 39.67706rem;
  height: 40.625rem;
  flex-shrink: 0;
}
.special-img {
  width: 19.90625rem;
  height: 22.81769rem;
  flex-shrink: 0;
}
.special-div {
  position: relative;
  bottom: 22.25rem;
  right: 6.25rem;
}
#icon {
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
}
#icon-cls {
  border-radius: 3rem;
  background-color: #fff;
  /* background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%)); */
  padding: 1.81rem;
  /* align-items: flex-start; */

  color: #0b0223;

  font-size: 1.3rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 10px;
}
#icon-cls:hover {
  color: #ff42a5;
  border: #ff42a5 solid;
}
.first-icon-container {
  display: flex;
  align-items: center;
  /* border: 1px darkblue solid; */
  justify-content: space-between;
  padding: 0 150px;
  gap: 100px;
}
.second-icon-container {
  display: flex;
  align-items: center;
  /* border: 1px darkblue solid; */
  justify-content: space-around;
  padding: 0 150px;
}
.sixth-section {
  display: grid;
  gap: 10px;
  /* border: 1px saddlebrown solid; */
  justify-content: center;
  padding: 10px;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
  margin-bottom: 60px;
}

footer img {
  width: 4.5rem;
  height: 2.5rem;
}
.footer-section {
  /* border: 1px solid saddlebrown; */
  /* padding: 0 200px; */
  text-align: center;
  /* margin-left: 300px; */
  display: grid;
  justify-content: center;
  /* padding: 60px; */
  margin: 0;
}
.footer-content1 {
  /* border: 1px slateblue solid; */
  /* margin-left: 100px; */
  display: flex;
  gap: 0px;
  text-align: center;
  color: #fff;
  text-align: center;
  font-family: Work Sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.footer-content2 {
  /* border: 1px slateblue solid; */
  /* margin-left: 100px; */
  display: flex;
  gap: 0px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-family: Work Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.footer-cls {
  background: #0b0223;
  padding: 100px 0px;
}
footer h2 {
  color: #fff;
  font-family: Work Sans;
  font-size: 2.8125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.footer-content1 {
  justify-content: space-evenly;
  padding: 20px;
 
  text-align: center;
}
.footer-content2 {
  justify-content: space-evenly;
  padding: 20px;
  
}

footer p {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-family: Work Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 20px;
 
}
.footer-icon {
  justify-content: space-evenly;
  padding: 20px;
}
/* .hide {
  display: none;
} */