@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700;800&family=Lato:wght@400;700&family=Merriweather&family=Montserrat:wght@400;700;800&family=Open+Sans:wght@400;700;800&family=Pacifico&family=Rubik+Mono+One&family=Sacramento&family=Space+Mono:wght@400;700&family=Work+Sans:wght@400;500;600;700;800&display=swap");
* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0%;
}
header {
  background: white;
  padding: 100px 150px;
  /* border: 2px seagreen solid; */
}

.nav-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 4.5rem;
  height: 2.5rem;
}
nav > ul {
  display: flex;
  gap: 30px;
  align-items: center;
}
.right-header {
  gap: 1rem;
  padding: 1.5rem;
  /* border: 2px seagreen solid; */
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  background: rgba(11, 2, 35, 0.1);
}
.right-header img {
  width: 1.2rem;
  height: 1.2rem;
}
.left-header {
  gap: 1rem;
  padding: 1.5rem;
  /* border: 2px seagreen solid; */
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  /* background: rgba(11, 2, 35, 0.1); */
}
#one {
  color: #0b0223;

  font-size: 2.8125rem;

  font-weight: 700;
}
span {
  color: #ff42a5;
}
.ul-cls {
  text-align: center;

  font-size: 1.125rem;

  font-weight: 500;
}

/*  */
.green-dot {
  text-align: center;
  color: #f948b2 0%;
  font-size: 5.5rem;

  font-weight: 800;
}

.green-dot::after {
  color: #f948b2;
  content: "."; /* Add the dot as a pseudo-element */
  text-align: center;

  font-size: 5.5rem;

  font-weight: 800;
}

#two {
  /* border: 1px solid darkblue; */
  color: #0b0223;
  /* text-align: center; */

  font-size: 3rem;

  font-weight: 600;

  text-transform: uppercase;
}

.ul-cls2 {
  color: #534c64;
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: lowercase;
}

.btn-primary {
  border: none;
  border-radius: 3rem;
  background-color: #ff42a5;
  /* background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%)); */
  padding: 1rem 2rem;
  /* align-items: flex-start; */

  color: #fff;

  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 10px;
}
.blue-color {
  border-radius: 3rem;
  background: #4ec5f7;
}

img {
  width: 100%;
}
.container {
  display: flex;
}
.sec-lf {
  background-image: url("../images/Group\ 14.png");
  background-repeat: no-repeat;

  margin-bottom: 100px;
  width: 100%;

  text-align: center;
  padding: 100px 0;
}
.sec-rt {
  width: 50%;
  align-items: center;
  padding: 100px;
}
.funny-span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Work Sans;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.third-header-text {
  color: #0b0223;
  text-align: center;
  font-family: Work Sans;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.third-container {
  margin: 100px;

  align-items: center;
}
.card {
  width: 21.375rem;
  height: 25rem;
  flex-shrink: 0;
}
.cap-cls {
  margin-top: 5px;
  color: #534c64;
  font-family: Work Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
}
.card-container {
  display: flex;
  justify-content: center;
  gap: 50px;

  padding: 50px;
  /* padding: 100px;
  margin: 0 auto; */
  text-align: left;
}
.card-container img {
  width: 80%;
}
.feature-title {
  text-align: right;
  font-family: Work Sans;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.75rem; /* 125% */
}
.feature-text {
  color: #534c64;
  text-align: right;
  font-family: Work Sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem; /* 166.667% */
}
.fifth-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2px;
}
.feature-img {
  width: 39.67706rem;
  height: 40.625rem;
  flex-shrink: 0;
}
.special-img {
  width: 19.90625rem;
  height: 22.81769rem;
  flex-shrink: 0;
}
.special-div {
  position: relative;
  bottom: 22.25rem;
  right: 6.25rem;
}
#icon {
  width: 60%;
}
#icon-cls {
  border-radius: 3rem;
  background-color: #fff;
  /* background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%)); */
  padding: 1rem;
  /* align-items: flex-start; */

  color: #0b0223;

  font-size: 1rem;

  font-weight: 600;

  margin-top: 100px;
  margin-left: 150px;
  display: inline-flex;
  align-items: center;
  border: none;
}
#icon-cls:hover {
  color: #ff42a5;
  border: #ff42a5 solid;
}

.sixth-section {
  display: flex;
  flex-wrap: wrap;
  border: 1px black solid;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
  margin-top: 100px;
  padding-bottom: 100px;
}
.first-icon-container {
}
.second-icon-container {
  /* border: 3px solid red; */
  position: relative;
  left: 10%;
}

footer img {
  width: 4.5rem;
  height: 2.5rem;
}
.footer-section {
  /* border: 1px solid saddlebrown; */
  /* padding: 0 200px; */
  text-align: center;
  /* margin-left: 300px; */
  display: grid;
  justify-content: center;
  /* padding: 60px; */
  margin: 0;
}
.footer-content1 {
  /* border: 1px slateblue solid; */
  /* margin-left: 100px; */
  display: flex;
  gap: 0px;
  text-align: center;
  color: #fff;
  text-align: center;
  font-family: Work Sans;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.footer-content2 {
  /* border: 1px slateblue solid; */
  /* margin-left: 100px; */
  display: flex;
  gap: 0px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-family: Work Sans;
  font-size: 0.85rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.footer-cls {
  background: #0b0223;
  padding: 100px 0px;
}
footer a {
  color: floralwhite;
}
.footer-content2 a {
  color: rgba(255, 255, 255, 0.6);
}
footer h2 {
  color: #fff;
  font-family: Work Sans;
  font-size: 2.8125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.footer-content1 {
  justify-content: space-evenly;
  padding: 20px;

  text-align: center;
}
.footer-content2 {
  justify-content: space-evenly;
  padding: 20px;
}

footer p {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-family: Work Sans;
  font-size: 0.85rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 20px;
}
.footer-icon {
  justify-content: space-evenly;
  padding: 20px;
}
.hide {
  display: none;
}
@media screen and (max-width: 576px) {
  .nav-head,
  .left-header,
  .ul-cls {
    flex-direction: column;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  .third-header-text {
    color: #0b0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .funny-span {
    background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .third-container {
    /* margin: 100px; */
    margin: 56px;

    align-items: center;
  }
  .ul-cls2 {
    color: #534c64;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
  }
  .card-container {
    display: flex;
    justify-content: center;
    gap: 30px;

    text-align: center;
    flex-direction: column;
  }
  .card {
    width: 10.375rem;
    height: 22rem;
  }
  .fifth-section img {
  }
  img {
    width: 100%;
    position: relative;
    left: 6px;
  }
  .special-img {
    width: 10.90625rem;
    top: 228px;
    left: 216px;
    height: 11.81769rem;
    position: relative;
    flex-shrink: 0;
  }
  .feature-img {
    width: 27.67706rem;
    height: 40.625rem;
    flex-shrink: 0;
  }
  .special-img {
  }
  .fifth-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2px;
    flex-direction: column;
  }
  .feature-title {
    text-align: center;
    font-family: Work Sans;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.75rem;
  }
  .feature-text {
    color: #534c64;
    text-align: center;
    font-family: Work Sans;
    font-size: 2.125rem;
    font-style: normal;
    font-weight: 400;
    padding: 42px;
    line-height: 1.875rem;
  }

  .second-icon-container {
    /* border: 3px solid red; */

    border: 3px solid red;
    width: 0;
  }
  .first-icon-container {
    padding: 67px;
    margin: 0 auto;
  }
  #icon {
    position: relative;
    width: 80%;
    left: 2px;
  }
  #icon-cls {
    gap: 5px;
    border-radius: 3rem;
    background-color: #fff;
    /* background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%)); */
    padding: 1rem;
    /* align-items: flex-start; */
    color: #0b0223;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 28px;
    margin-left: -20px;
    display: inline-flex;
    align-items: center;
    border: none;
    flex-direction: column;
  }
}
@media screen and (min-width: 576px) and (max-width: 992px) {
  .nav-head,
  .left-header,
  .ul-cls {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .card {
    width: 10.375rem;
    height: 25rem;
    flex-shrink: 0;
  }
  .fifth-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2px;
    flex-direction: column;
  }
  .sixth-section {
    display: flex;
    flex-wrap: wrap;
    border: 1px black solid;
    
    margin-top: 47px;
    padding-bottom: 100px;
}
}
